@import url('https://fonts.googleapis.com/css?family=Bad+Script|Caveat|Indie+Flower|Pacifico');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand|Roboto+Slab');


h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.55;
    color: #333;
    font-size: 400;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}
.landing{
    /*font-family: 'Indie Flower', cursive; 
    font-family: 'Pacifico', cursive;  */
    font-family: 'Bad Script', cursive;
    color: goldenrod
}

/* ==================================================
  General
  ================================================== */
a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* ==================================================
  Elements
  ================================================== */


.card {
    position: relative;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
}

a:hover {
    text-decoration: none !important;
    color: gold;
}

.scrolltop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: black;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.scrolltop:hover, .scrolltop:active, .scrolltop:focus {
    color: #fff !important;
    opacity: .75;
}

/* ==================================================
  Hero Styling
================================================== */
.hero {
    display: table;
    position: relative;
    background-image: url(../img/apple-computer-desk-209151.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.hero:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.hero-brand {
    margin-bottom: 75px;
    display: inline-block;
}

.hero-brand:hover {
    opacity: .75;
}

.tagline {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin: 45px 0 75px 0;
    color: #fff;
}

/* ==================================================
  Header Styling
================================================== */
#header {
    background: #222;
    height: 70px;
}

#header #logo {
    margin: 14px 25px 0 0;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 2px 0;
    line-height: 1;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

@media (max-width: 768px) {
    #header {
        height: 50px;
    }
    #header #logo {
        margin: 10px 0 0 0;
    }
    #header #logo h1 {
        padding: 2px 0;
        font-size: 26px;
    }
    #header #logo img {
        max-height: 30px;
    }
}

#header .social-nav {
    margin-top: 15px;
}

#header .social-nav a {
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
}

#header .social-nav a:hover {
    color: rgba(255, 255, 255, 0.75);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    margin: 0;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }

}

/* Nav Meu Styling */
.nav-menu a {
    padding: 22px 15px 18px 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Indie Flower", monospace, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
    color: rgba(255, 255, 255, 0.75);
}

.nav-menu ul {
    margin: 4px 0 0 15px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
    background: #fff;
    border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    background: #199EB8;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.nav-menu ul li a {
    color: #333;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    padding: 10px 15px;
}

.nav-menu ul li a:hover {
    color: #fff;
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 8px 10px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}
/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mobile-nav ul li {
    position: relative;
}
#mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}
#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}
#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #199EB8;
}
#mobile-nav ul .menu-item-active {
    color: #199EB8;
}
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}
/* ==================================================
  Stats Styling
================================================== */

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.iconMarquee{
    width: 80px;
    height: 80px;
    margin-left: 50px;
}
.fa-twitter:hover{
    color: #00aced;
}
.fa-facebook:hover{
    color: #3B5998;
}
.fa-youtube-play:hover{
    color: #dd4b39;
}
.fa-linkedin:hover{
    color: #0077b5;
}
.fa-instagram:hover{
    color: #e4405f;
}

/**********************
/***** Services *******
/*********************/

section .section-title{
    text-align:center;
    color:#007b5e;
    margin-bottom:10px;
    text-transform:uppercase;
}

#what-we-do{
    background:#ffffff;
}
#what-we-do .card{
    padding: 1rem!important;
    border: none;
    margin-bottom:1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#what-we-do .card:hover{
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
    padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
    color: #007b5e !important;
    font-weight:700;
    text-decoration:none;
}
#what-we-do .card .card-block a i{
    display:none;

}
#what-we-do .card:hover .card-block a i{
    display:inline-block;
    font-weight:700;

}
#what-we-do .card .card-block:before{
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f108";
    margin-top: 10px;
}
#what-we-do .card .block-2:before{
    content: "\f10b";
    margin-top: 10px;
    font-size: 40px
}
#what-we-do .card .block-3:before{
    content: "\f008";
    margin-top: 10px;
}
#what-we-do .card .block-4:before{
    content: "\f004";
    margin-top: 10px;
}
#what-we-do .card .block-5:before{
    content: "\f016";
    margin-top: 10px;
}
#what-we-do .card .block-6:before{
    content: "\f03e";margin-top: 10px;
}
#what-we-do .card:hover .card-block:before{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);	
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

/* Footer */
#what-we-do {
    padding: 20px 0;
}
#footer {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #303030 !important;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-family: 'ABeeZee', sans-serif;

}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
.customers-section img {
    padding: 10px;
    max-width: 80px;
}
.bg-gray {
    background: #f5f5f5;
}


.title {
    display: inline-block;
    font-size: 2.9rem;
    font-weight: 100;
    padding: 10px 0;
    margin-bottom: 44px;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;
    color: #555;
    margin-top: 20px;
    letter-spacing: 0;
}


p {
    font-size: 15px;
    color: #575757;
    line-height: 1.6;
    word-spacing: 2px;
    margin: 0;
}

.portImg {
    width: 100%;
    height: auto;border-radius: 5px;
}

span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    text-align: center;

}

.title {
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
}
.title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #C49B66;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}
.title:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(1, 1, 1, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
}

.title-left {
    text-align: left;
    margin-bottom: 30px;
}
.title-left:after {
    left: 0;
}

.bg-gray {
    background: #f7f7f7;
}
.bg-gray .title:before {
    background: #ddd;
}
.bg-gray .owl-theme .owl-dots .owl-dot span {
    background: #777;
}

.o-hidden {
    overflow: hidden;
}

.position-re {
    position: relative;
}

.full-width {
    width: 100% !important;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img .title:before {
    background: rgba(255, 255, 255, 0.1);
}

.section-padding {
    padding: 20px 0;
}

.section-ptb {
    padding: 80px 0;
}

.section-pt {
    padding: 80px 0 0;
}

.section-pb {
    padding: 0 0 80px;
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
section{
    padding: 30px 0;
}
/* ----------------------------------------------------------------
                                09 Portfolio
-----------------------------------------------------------------*/
.portfolio {
    overflow: hidden;
}
.portfolio .filtering span {
    padding: 8px 20px;
    margin: 0 5px;
    color: #777;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 10px;
}
.portfolio .filtering .active {
    color: #fff;
    background: #C49B66;
    border-color: #C49B66;
}
.portfolio .filtering .active:after {
    bottom: 0;
    top: calc(100% - 1px);
    opacity: 1;
}
.portfolio .filtering .active:before {
    top: 0;
    opacity: 1;
}
.portfolio .items {
    padding: 0 15px;
    margin-bottom: 30px;
}
.portfolio .item-img {
    position: relative;
    overflow: hidden;

}
.portfolio .item-img h5 {
    font-size: 18px;
    position: relative;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: all .6s;
    transition: all .6s;
    opacity: 0;
    z-index: 5;
}
.portfolio .item-img h6 {
    color: #C49B66;
    font-size: 13px;
    position: relative;
    margin-bottom: 10px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all .6s;
    transition: all .6s;
    opacity: 0;
    z-index: 5;
}
.portfolio .item-img .link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #C49B66;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 5;
    opacity: 0;
}
.portfolio .item-img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: transparent;
    z-index: 2;
}
.portfolio .item-img-overlay:before, .portfolio .item-img-overlay:after {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.portfolio .item-img-overlay:before {
    left: 0;
    top: 0;
}
.portfolio .item-img-overlay:after {
    right: 0;
    bottom: 0;
}
.portfolio .item-img-overlay:hover:before, .portfolio .item-img-overlay:hover:after {
    width: 100%;
}
.portfolio .item-img-overlay:hover h6, .portfolio .item-img-overlay:hover h5, .portfolio .item-img-overlay:hover .link {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    font-family: monospace
}


/* ----------
/* ================================
About
================================= */

#about .about-img {
    height: 350px;
    overflow: hidden;
}
.about-head{
    font-size: 80px;
}
#about .about-img img {
    margin-left: -15px;
    margin-top:0px;
    max-width: 100%;
}

@media (max-width: 768px) {
    #about .about-img {
        height: auto;
    }
    #about .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#about .content h2 {
    color: #333;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}

#about .content h3 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    text-align: left;
}

#about .content p {
    line-height: 26px;
    text-align: left;
}

#about .content p:last-child {
    margin-bottom: 0;
}

/* ================================
Home sections
================================= */
.home-section {
    width: 100%;
    padding: 40px 0px 30px 0px;
}
/* --- heading --- */
.section-heading {
    margin-bottom: 50px;
}

.section-heading h2 {
    font-size: 38px;
    text-transform: uppercase;
}
.section-heading .heading-line {
    margin:0 auto;
    display: block;
    height: 1px;
    width: 80px;
    background: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* --- section bg var --- */

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f8f8f8;
}

.bg-dark {
    background: #575757;
}


/* --- section content general color --- */

.color-light h1,.color-light h2,.color-light h3,.color-light h4,.color-light h5,.color-light h6 {
    color: #fff;
}


.color-light p {
    color: #eee;
    font-family: 'Permanent Marker', cursive;


}
.color-light h2 {
    font-family: 'Roboto Slab', serif;

}

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}
/* ==========================
Parallax
============================= */

#parallax1{
    background-image: url(../img/bed-computer-dark-34174.jpg);

}


.parallaxSection {
    width: 100%;
    padding: 150px 0px 150px 0px;
}

.parallax {
    background-size: cover !important;
    -webkit-transition: all 0.1s !important;
    transition: all 0.1s !important;
}

/*
*
* =====================
* CUSTOEMRS
* =====================
*
*/
.customers-section img {
    padding: 10px;
    max-width: 80px;
}

/*
*
* =====================
* CONTACT
* =====================
*
*/
.form-control {
    margin-bottom: 20px;
    border-color:black;
}
#partners{
    margin-top: 30px;}


.scroll-top{
    font-size: 30px;
    margin-top: 8px
}

/*
*
* =====================
* Pre-Loader
* =====================
*
*/

 @font-face { font-family: Gloss And Bloom; 
			 src: url('Gloss_And_Bloom.ttf'); } 
			 
			 /* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .text {
    top:43%!important;
  }
}

        body{
            margin:0px;
            padding:0px;
        }
        .mainLoad{
            width:100%;
            height: 100vh;
              /*background: linear-gradient(to right top, #44ddd0, #27d7a1);*/

            background: linear-gradient(80deg,#110e1f,#1b1730);
            position: fixed;
            top:0px;
            left:0px;
            z-index:9999;
        }
        .text{
            width:100%;
            height:100vh;
            background-image: url(abstract-expressionism-abstract-painting-acrylic-1509534.jpg);
            background-size: 100% 100%;
            background-position: center;
            font-family: Gloss And Bloom;
            font-size: 80px;
            text-align: center;
            line-height: 650px;
            position: absolute;
            top:58%;
            left:50%;
            transform: translate(-50%,-50%) rotate(-5deg);
            color: #d2006b;
            -webkit-background-clip: text;
            pointer-events:none;
            animation: anim1 1s infinite,anim2 2s forwards;
        }
        @keyframes anim1{
            0%{background-image: url(../img/bg22.jpg);}
            10%{background-image: url(../img/bg20.jpg);}
            20%{background-image: url(../img/bg1.jpg);}
            30%{background-image: url(../img/bg14.jpg);}
            40%{background-image: url(../img/bg21.jpg);}
            50%{background-image: url(../img/bg16.jpg);}
            60%{background-image: url(../img/bg7.jpg);}
            60%{background-image: url(../img/bg18.jpg);}
            70%{background-image: url(../img/bg19.jpg);}
            80%{background-image: url(../img/bg10.jpg);}
            90%{background-image: url(../img/bg11.jpg);}
            100%{background-image: url(bg4.jpg);}
        }
        
        @keyframes anim2{
            from{color:#d2006b;}
            to{color:transparent;}
        }
        .titleLoad{
            font-family:monospace;
            font-size:30px;
            color:white;
            letter-spacing: 8px;
            position: absolute;
            top:50%;
            left:48%;
            transform: translate(-50%,-50%);
        }
        .barLoad{
            height:2px;
            width:80px;
            background-color:#282246;
            position: absolute;
            top:54%;
            left: 48%;
            transform: translate(-50%,-50%);
            z-index:9999;
        }
        .fill{
            width:0%;
            height: 100%;
            background-color: white;
            position: relative;
            top:0px;
            left:0px;
            
        }
        
