/*-----------------------------------------------------------------------------------

	Theme Name: Personala
	Theme URI: http://
	Description: The Multi-Purpose Onepage Template
	Author: his7am
	Author URI: http://themeforest.net/user/his7am
	Version: 1.0

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------

	== Table Of Content

		01 Basic
		02 Buttons
		03 Navbar
		04 Header
		05 Hero
		06 Resume
		07 Services
		08 Numbers
		09 Portfolio
		10 Testimonials
		11 Blog
		12 Contact
		13 Footer
		14 Responsive
	

---------------------------------------------------------------- */
/* ----------------------------------------------------------------
				01 Basic
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  list-style: none;
}

body {
  color: #333;
  line-height: 1.3;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}


/* ----------------------------------------------------------------
				09 Portfolio
-----------------------------------------------------------------*/
.portfolio {
  overflow: hidden;
}
.portfolio .filtering span {
  padding: 8px 20px;
  margin: 0 5px;
  color: #777;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 10px;
}
.portfolio .filtering .active {
  color: #fff;
  background: #C49B66;
  border-color: #C49B66;
}
.portfolio .filtering .active:after {
  bottom: 0;
  top: calc(100% - 1px);
  opacity: 1;
}
.portfolio .filtering .active:before {
  top: 0;
  opacity: 1;
}
.portfolio .items {
  padding: 0 15px;
  margin-bottom: 30px;
}
.portfolio .item-img {
  position: relative;
  overflow: hidden;
}
.portfolio .item-img h5 {
  font-size: 18px;
  position: relative;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  z-index: 5;
}
.portfolio .item-img h6 {
  color: #C49B66;
  font-size: 13px;
  position: relative;
  margin-bottom: 10px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  z-index: 5;
}
.portfolio .item-img .link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #C49B66;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 5;
  opacity: 0;
}
.portfolio .item-img-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: transparent;
  z-index: 2;
}
.portfolio .item-img-overlay:before, .portfolio .item-img-overlay:after {
  content: '';
  position: absolute;
  width: 0;
  height: 50%;
  background: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.portfolio .item-img-overlay:before {
  left: 0;
  top: 0;
}
.portfolio .item-img-overlay:after {
  right: 0;
  bottom: 0;
}
.portfolio .item-img-overlay:hover:before, .portfolio .item-img-overlay:hover:after {
  width: 100%;
}
.portfolio .item-img-overlay:hover h6, .portfolio .item-img-overlay:hover h5, .portfolio .item-img-overlay:hover .link {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
